= form_for person do |f|
  = person.errors.inspect

  = f.text_field :first_name, placeholder: 'first_name'
  = f.text_field :last_name, placeholder: 'last_name'
  = f.email_field :email, placeholder: 'email'
  = f.text_field :picture, placeholder: 'picture'
  = f.date_field :birthdate, placeholder: 'birthdate'

  = f.submit
  = link_to 'cancel', people_path